.altura{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3200px;
}

.bodyAdapter{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1700px;
}

.bodyBridge{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1900px;
}

.bodyComposite{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2500px;
}

.bodyDecorator{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3300px;
}

.bodyFactory{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2600px;
}

.bodyBuilder{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3700px;
}

.bodyCommand{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3700px;
}

.header{
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-family: Comfortaa;
}

.decoracion{
    text-decoration: none;
    font-size: 15px;
}

.espaciado{
    display: flex;
    justify-content: center;
}

.dfl{
    display: flex;
    justify-content: center;
    width: 870px;
    margin-left: 400px;
}


.margenPatron{
    margin: 40px 90px 0px 0px;
}

.diseño1{
    border-radius: 5px;
    margin: 20px 180px 0px 0px;
}

.tituloHeader{
    margin-left: 730px;
}

.bordeh1{
    margin-right: 70px;
}

.bordeAdapter{
    margin-right: 125px;
}

.bordeBridge{
    margin-right: 160px;
}

.bordeComposite{
    margin-right: 70px;
}

.bordeDecorator{
    margin-right: 85px;
}

.bordeFacade{
    margin-right: 140px;
}

.bordeAbstract{
    margin-right: -50px;
}

.bordeFly{
    margin-right: 100px;
}

.bordeProxy{
    margin-right: 185px;
}

.bordeFactory{
    margin-right: -32px;
}

.espacioEs{
    position: fixed;
    margin-top: 200px;
}

.espacio{
    position: absolute;
    margin-bottom: 500px;
}

.mP{
    margin-left: 30px;
}

.formulario{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 400px;   
}

.estiloF{
    padding: 25px;
}

.boton{
    padding: 25px;
}

.margenes{
    padding-top: 350px;
}

.imagen{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicios .contenido{ 
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    margin-top: 20px; 
}

.imagen img{ 
    width: 30%; 
    height: 50%; 
    margin: 0 auto; 
    display: block;
    padding: 20px;
    padding-top: 50px; 
    padding-bottom: 50px;
}

.imagen.opacidad:hover img {
    opacity: 0.4;
}

.contenido figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 2s all;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenido figure .capa h1 {
    font-size: 100px;
    color: #ffffff;
    font-family: Dancing Script;
    transition: 2s all;
    margin: 0;
    padding: 110px;
    font-weight: 900;
    font-style: italic;
}

.contenido figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.contenido figure img {
    height: 100%;
    transition: 2s all;
    
}

.imagen.opacidad:hover img {
    opacity: 0.4;
}

.contenido figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 2s all;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.espacioAdapter{
    position: absolute;
    margin-bottom: 500px;
    margin-top: 200px;
    margin-left: 325px;
}

.espacioBridge{
    position: absolute;
    margin-bottom: 500px;
    margin-top: 200px;
    margin-left: 310px;
}

.as{
    margin-top: 200px;
}

.ass{
    margin-top: 400px;
}

.mC{
    margin-left: 0px;
}

.mCo{
    margin-left: 162px;
}

.bordeRespon{
    margin-right: -180px;
}

.bordeMemento{
    margin-right: 100px;
}