.altura{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-imagenes-fondos-pantalla-ai-generado_643360-118070.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    font-family: Comfortaa;
}

.decoracion{
    text-decoration: none;
    font-size: 15px;
}

.espaciado{
    display: flex;
    justify-content: center;
}

.dfl{
    display: flex;
    justify-content: center;
    width: 870px;
    margin-left: 400px;
}


.margenPatron{
    margin: 40px 90px 0px 0px;
}

.diseño1{
    border-radius: 5px;
    margin: 20px 180px 0px 0px;
}

.tituloHeader{
    margin-left: 730px;
}

.navHeader{
    display: flex;
    justify-content: start;
    height: 100%;
}

.bordeh1{
    margin-right: 70px;
}